body {
    background-color: darkgray;
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/413/925/249/minimalism-abstract-pattern-digital-art-wallpaper-preview.jpg');   
}

header {
    font-style: italic;
    color: white;
}

#title {
    text-align: center;
}

#description {
    text-align: center;
}

#field {    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;  
}

#comments {
  width: 600px;
  height: 200px;
}

#submit {
  background-color: rgb(50,205,50);
}